body {
    background: #f2f6f5!important;
    font-family: roboto;
}
.sidebar-brand{
height: 100px!important;
}
#contenido #page-content-wrapper{
	z-index: 99!important;
	position: relative!important;
	margin-left: auto; 
	margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.col-lg-8.col-lg-offset-2 {
    padding: 60px!important;
}
#sidebar-wrapper {
    background: /*#b92929!*/#f15b55!important;
 
}
h1{
	color: #b51414!important;
    padding: 0px 0px 15px!important;
    font-size: 45px!important;
    font-weight: lighter!important;
}

.opcImagenes{
	width: 200px;
	display: flex;
}
.opcImagenes img {
    width: 100px!important;
    height: 100px;
    flex-direction: row!important;
    padding: 4px;
}
.opcImagenes img:hover{
	background: blue;
}
/*

.opcImagenes:hover img {-webkit-transform:scale(1.3);transform:scale(1.3);}
.opcImagenes {overflow:hidden;}

*/
footer{
	text-align: center;
    color: #fff;
}
.dokImg{
	overflow: hidden;
}
.dokImg:hover img{filter: opacity(.5);}
.dokImg img{
	width: 320px;
	position: relative;
	left: 50%;
}
.sidebar-nav li a {
    display: block;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    }


.btn.btn-primary {
    border-width: 2px;
    background: transparent;
    top: 45%;
    z-index: 99;
    right: 52%;
    position: absolute;
    border-color: #00d2b5;
    color: #fff;
    -webkit-box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
    box-shadow: 0 4px 20px -5px rgba(0, 210, 181, 0.4);
}
.btn {
    font-size: 16px;
    border-radius: 2px;
    padding: 10px 30px;
}
.btn.btn-primary:hover{
     background: #f98d90!important;
     border-color: #f98d90;
     opacity: 0.7;

   
    
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    background-color: #f2f6f5bd!important;
    color:#000!important;
}
a.titulo:hover {
    background-color: transparent!important;
    color: #fff!important;
}
.img-absolute {
    position: relative;
    bottom: 110px;
    right: 0;
    padding: 29px 0px 0px 40px;
    width: 600px!important;
    
    
}
img.presentacion {
    width: 165%;
    position: relative;
    right: 30%;
    height: 100vh;
}


.site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh);
}

.site-blocks-cover p {
    color: #6c757d;
    font-size: 1rem;
    font-weight: 300;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.presentacion{
    display: flex;

}
#accordion{
    width: 700px!important;

}
@media (max-width: 1000px) {
    #accordion{
    width: 550px!important;
    } 
    img#imagengc {
    width: 500px!important;
    height: auto!important;
    }
}
@media (max-width: 765px) {
    #accordion{
    width: 400px!important;
    }

    img#imagengc {
    width: 380px!important;
    height: auto!important;
    }
}